
.error {
  width: 60%;
  margin: auto;
  text-align: center;
  margin-top: 1em;
}

.error-container {
  float:right;
  width: 75%;
  text-align: center;
}
.error-sidebar {
  width: 75%;
  margin: auto;
  text-align: center;
  margin-top: 1em;
}
